* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  color: #002542;
  background: linear-gradient(
    -45deg,
    rgba(229, 243, 255, 1) 0%,
    rgba(247, 252, 255, 1) 100%
  );
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
}
